.cart-container {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  justify-items: center;
  gap: 20px;
}
.container-clear-price {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.image {
  width: 20%;
}
.products-container {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 2px 2px #0359ba;
}
.products-container p {
  background-color: #0359ba;
  color: white;
  padding: 8px;
  border-radius: 10px;
  font-weight: 600;
}
.price-container {
  padding: 50px;
  background-color: #0359ba;
  color: white;
  border-radius: 10px;
  max-height: 200px;
}
.empty {
  margin-top: 50px;
  font-size: 2rem;
  border: solid;
  padding: 20px;
  border-radius: 50px;
  background-color: white;
  color: #0359ba;
}
.container-empty-cart {
  display: flex;
  justify-content: center;
}
.container-empty {
  display: grid;
  justify-items: center;
  gap: 20px;
}
.btn-shopping {
  background-color: #0359ba;
  color: white;
  margin-bottom: 50px;
}
.btn-shopping:hover {
  background-color: #064082;
  color: white;
}
.cart-container-title {
  background-color: #0359ba;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 20px 0px;
}

.btn-remove {
  background-color: rgb(222, 7, 7) !important;
  color: white;
  border-radius: 20px;
}
.clear {
  background-color: rgb(222, 7, 7) !important;
  color: white;
  border-radius: 20px;
  font-weight: 600;
  width: fit-content;
  padding: 5px;
}
.clear:hover {
  background-color: rgb(199, 5, 5) !important;
  box-shadow: 1px 2px 2px 2px #870404;
  transition: all 400ms ease;
}
.remove {
  padding: 5px;
}
.remove:hover {
  padding: 2px;
  transition: all 400ms ease;
}

.quantity-cart {
  color: black;
  font-size: 1.5rem;
  font-weight: 800;
}
.total-price {
  font-size: 1.5rem;
  background-color: white;
  color: #111111;
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
  font-weight: 800;
}
.increase,
.decrease {
  border-radius: 50px;
  color: rgb(1, 124, 124);
  background-color: white;
  border: none;
}
.increase:hover,
.decrease:hover {
  border-radius: 50px;
  background-color: rgb(1, 124, 124);
  color: white;
}
.btn-buy {
  border-radius: 20px;
  padding: 2px;
  background-color: rgb(1, 124, 124);
}

.buy {
  color: white;
  border-radius: 20px;
  padding: 5px;
}
.buy:hover {
  background-color: rgb(1, 124, 124);
  color: white;
  border-radius: 20px;
  padding: 3px;
  transition: all 400ms ease;
}
.form-cart {
  display: grid;
  gap: 5px;
  font-size: 1.2rem;
  width: 50%;
  padding: 10px;
  background-color: #0359ba;
  color: white;
}
.label {
  font-size: 1.4rem;
}
