.cart-container {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  justify-items: center;
  gap: 20px;
}
.image {
  width: 20%;
}
.products-container {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 2px 2px #0359ba;
}
.products-container p {
  background-color: #0359ba;
  color: white;
  padding: 8px;
  border-radius: 20px;
}
.price-container {
  padding: 50px;
  background-color: #0359ba;
  color: white;
  border-radius: 10px;
  max-height: 200px;
}
.empty {
  margin-top: 50px;
  font-size: 2rem;
  border: solid;
  padding: 20px;
  border-radius: 50px;
  background-color: white;
  color: #0359ba;
}
.container-empty-cart {
  display: flex;
  justify-content: center;
}
.container-empty {
  display: grid;
  justify-items: center;
  gap: 20px;
}
.btn-shopping {
  background-color: #0359ba;
  color: white;
  margin-bottom: 50px;
}
.btn-shopping:hover {
  background-color: #064082;
  color: white;
}
.cart-container-title {
  background-color: #0359ba;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 20px 0px;
}
.clear,
.remove-product {
  background-color: rgb(222, 7, 7) !important;
  color: white;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #870404;
  transition: all 400ms ease;
}
.clear:hover,
.remove-product:hover {
  background-color: rgb(199, 5, 5) !important;
  box-shadow: 1px 2px 2px 2px #870404;
  transition: all 400ms ease;
}

.quantity-cart {
  color: black;
  font-size: 1.5rem;
  font-weight: 800;
}
.total-price {
  font-size: 1.5rem;
}
.increase,
.decrease {
  background-color: rgb(7, 171, 171);
  color: black;
  padding: 0px 10px;
  border-radius: 20px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgb(1, 124, 124);
  transition: all 400ms ease;
}
.increase:hover,
.decrease:hover {
  background-color: rgb(1, 124, 124);
  box-shadow: 1px 2px 2px 2px rgb(1, 124, 124);
  transition: all 400ms ease;
}
