.shopping {
  display: flex;
  gap: 10px;
}

.continue,
.goToCart {
  background-color: #0359ba;
  color: white;
  padding: 2px;
}

.goToCart:hover {
  background-color: #013a7b !important;
}
.continue:hover {
  background-color: #013a7b !important;
}
