* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.navBar {
    background-color: #0359ba;

}

.nav-link {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

@media(min-width: 990px) {

    .nav-link {
        gap: 60px;
        font-size: 1.5rem;
    }


}

.nav-cart {
    display: flex;
    align-items: center;

}

.button-cart {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: flex-end;
    border: none;
    background-color: #0359ba;
}

.button-cart:hover {
    background-color: #064082;
    padding: 2px;
}

.material-symbols-outlined {
    color: white;
}

.logo img {
    max-width: 170px;
    max-height: 140px;
    padding-top: 15px;

}

.quantity {
    color: white;
}